connectome>=0.6.0,<1.0.0
bev>=0.7.0,<1.0.0
tarn>=0.4.4,<1.0.0
numpy
nibabel
more-itertools
dicom-csv
tqdm
pandas
pylidc
pyyaml
requests
mdai
joblib
deli<1.0.0
typer<1.0.0
scipy
scikit-image
pydicom
imops
highdicom