mkdocs==1.5.3
mkdocs-material==9.4.1
mkdocstrings[python]==0.22.0
mkdocs-jupyter==0.24.2
mkdocs-exclude==1.0.2
mkdocs-autorefs==0.4.1
mike
pandas
tabulate
ipython-genutils
griffe==0.29.1
mkdocs-material-extensions==1.2
mkdocstrings-python==1.1.2
